Web hook (1).json
{
  "name": "Web hook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mychatapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -304,
        -16
      ],
      "id": "cb7e27d2-129e-4e4e-b567-468eb08f5b75",
      "name": "Webhook",
      "webhookId": "a03aea93-a3e7-4c97-b7f7-c2111be7527f"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -96,
        -16
      ],
      "id": "154c5050-e65c-494d-ab63-61c54b72a3be",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -240,
        192
      ],
      "id": "6a29236f-a0d9-4a2a-a6fa-dc6b3b49c504",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "kJl0J6G7veZUvxR0",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        240,
        -16
      ],
      "id": "98d5a282-db6f-4819-b44c-691654368dbc",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "e9cb77cb-023e-427c-a138-556ccb797dc0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1243e281d1866fef13f26f1b135b46d2ec5719d96eeac03b33981c55768e0553"
  },
  "id": "PNMVFohLaYKdICD7",
  "tags": []
}